### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
#Calculate the total number of schools

school_count = len(school_data_complete["school_name"].unique())
school_count

In [ ]:
#Calculate the total number of students
school_students = school_data_complete["student_name"].count()
school_students

In [ ]:
#Calculate the total budget
Total_budget = school_data["budget"].sum()
Total_budget

In [ ]:
#Calculate the average maths score 
Average_math = school_data_complete["maths_score"].mean()
Average_math

In [ ]:
#Calculate the average reading score
Average_score = school_data_complete["reading_score"].mean()
Average_score

In [ ]:
#Calculate the percentage of students with a passing maths score (50 or greater)

Student_pass = school_data_complete[school_data_complete["maths_score"]>=50]["Student ID"].count()
Student_pass_percentage = Student_pass/school_students*100
Student_pass_percentage

In [ ]:
#Calculate the percentage of students with a passing reading score (50 or greater)
Student_pass_reading = school_data_complete[school_data_complete["reading_score"]>=50]["Student ID"].count()
Student_pass_percentage_reading = Student_pass_reading/school_students*100
Student_pass_percentage_reading

In [ ]:
#Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

Students_overallpassing = school_data_complete[(school_data_complete["maths_score"]>=50) & (school_data_complete["reading_score"]>=50)]["Student ID"].count()
Students_overallpassing_percentage = Students_overallpassing/school_students*100
Students_overallpassing_percentage

In [ ]:
#Create a dataframe to hold the above results


district_summary = pd.DataFrame(
    {
        "Total Schools": [school_count], 
        "Total Students": [school_students], 
        "Total Budget": [Total_budget],
        "Average Math Score": [Average_math], 
        "Average Reading Score": [Average_score],
        "% Passing Math": [Student_pass_percentage],
        "% Passing Reading": [Student_pass_percentage_reading],
        "% Overall Passing": [Students_overallpassing_percentage]
    }
)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
school_types = school_data.set_index(["school_name"])["type"].sort_values()
school_types

In [ ]:
total_students_perschool = school_data_complete["school_name"].value_counts()
total_students_perschool

In [ ]:
school_budget = school_data.set_index(["school_name"])["budget"]
school_budget

In [ ]:
Student_budget = school_budget/total_students_perschool 
Student_budget

In [ ]:
average_maths_score = school_data_complete.groupby(["school_name"])["maths_score"].mean()

average_maths_score

In [ ]:
average_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
average_reading_score

In [ ]:
passing_math_df = school_data_complete[school_data_complete["maths_score"]>=50]
passing_math = passing_math_df.groupby(["school_name"]).size()/total_students_perschool*100
passing_math

In [ ]:
passing_reading_df = school_data_complete[school_data_complete["reading_score"]>=50]
passing_reading = passing_reading_df.groupby(["school_name"]).size()/total_students_perschool*100
passing_reading

In [ ]:

overal_passing_df = school_data_complete[(school_data_complete["maths_score"]>=50) & (school_data_complete["reading_score"]>=50)]
overal_passing = overal_passing_df.groupby(["school_name"]).size()/total_students_perschool*100
overal_passing

In [ ]:
#Create an overview table that summarises key metrics about each school, including:

school_summary = pd.DataFrame(
    {
        "School Type": school_types, 
        "Total Students": total_students_perschool,
        "Total School Budget": school_budget,
        "Per Student Budget": Student_budget, 
        " "

       
    }
)

# school_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

school_summary

In [ ]:
#Create an overview table that summarises key metrics about each school, including:

school_summary = pd.DataFrame(
    {
        "School Type": school_types, 
        "Total Students": school_students, 
        "Total School Budget": Total_budget,
        "Per Student Budget": Average_math, 
        
        "Average Maths Score": average_maths_score,
        "Average Reading Score": average_reading_score,
        "% Passing Maths": passing_math,
        "% Passing Reading":  passing_reading,
        "% Overall Passing": overal_passing,


       
    }
)

# school_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_five_df = school_summary.sort_values(["% Overall Passing"],ascending=False).head()
top_five_df

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_five_df = school_summary.sort_values(["% Overall Passing"],ascending=True).head()
bottom_five_df

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
school_data_complete.dtypes

In [ ]:
ninth_graders = school_data_complete[(school_data_complete["year"] == 9)]
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["maths_score"].mean()
ninth_grade_math_scores

In [ ]:
ninth_graders_10 = school_data_complete[(school_data_complete["year"] == 10)]
ninth_grade_math_scores_10 = ninth_graders.groupby(["school_name"])["maths_score"].mean()
ninth_grade_math_scores_10

In [ ]:
ninth_graders_11 = school_data_complete[(school_data_complete["year"] == 11)]
ninth_grade_math_scores_11 = ninth_graders.groupby(["school_name"])["maths_score"].mean()
ninth_grade_math_scores_11

In [ ]:
ninth_graders_12 = school_data_complete[(school_data_complete["year"] == 12)]
ninth_grade_math_scores_12 = ninth_graders.groupby(["school_name"])["maths_score"].mean()
ninth_grade_math_scores_12

In [ ]:
#Combine the series into a dataframe
Maths_score_year = pd.DataFrame(
    {
        "Year 9": ninth_grade_math_scores, 
        "Year 10": ninth_grade_math_scores_10,
        "Year 11": ninth_grade_math_scores_11,
        "Year 12": ninth_grade_math_scores_12, 
        
        

       
    }
)

# school_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

Maths_score_year

## Reading Score by Year

* Perform the same operations as above for reading scores

In [ ]:
reading_scores_9 = school_data_complete[(school_data_complete["reading_score"] == 9)]
reading_grade_math_9 = ninth_graders.groupby(["school_name"])["reading_score"].mean()
reading_grade_math_9

In [ ]:
reading_scores_10 = school_data_complete[(school_data_complete["reading_score"] == 10)]
reading_grade_math_10 = ninth_graders.groupby(["school_name"])["reading_score"].mean()
reading_grade_math_10

In [ ]:
reading_scores_11 = school_data_complete[(school_data_complete["reading_score"] == 11)]
reading_grade_math_11 = ninth_graders.groupby(["school_name"])["reading_score"].mean()
reading_grade_math_11

In [ ]:
reading_scores_12 = school_data_complete[(school_data_complete["reading_score"] == 12)]
reading_grade_math_12 = ninth_graders.groupby(["school_name"])["reading_score"].mean()
reading_grade_math_12

In [ ]:
#Combine the series into a dataframe
Reading_score_year = pd.DataFrame(
    {
        "Reading Year 9": reading_grade_math_9, 
        "Reading Year 10": reading_grade_math_10,
        "Reading Year 11": reading_grade_math_11,
        "Reading Year 12": reading_grade_math_12, 
        
        

       
    }
)

# school_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

Reading_score_year

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# spending bins and group names
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
school_summary['Total School Budget (Per Student Budget)'] = pd.cut(school_summary['Per Student Budget'], spending_bins, labels=group_names)

In [ ]:
spending_group = school_summary.groupby('Total School Budget (Per Student Budget)')

In [ ]:
spending_summary = spending_group[['Average Maths Score', 'Average Reading Score', '% Passing Maths', '% Passing Reading', '% Overall Passing']].mean()
spending_summary

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# school types and group names
bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary = ['Size'] = pd.cut(school_summary['Total Students'], bins=bins, labels=labels)

## Scores by School Type

* Perform the same operations as above, based on school type